.site-header.transparent .switch-locale .dropdown-menu>li>a div.docs{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-doc-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.docs{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-doc-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.faq{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-faq-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.faq{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-faq-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.sq{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-sq-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sq{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-sq-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.contact{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-contact-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.contact{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-contact-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.yl{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-yl-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.yl{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-yl-b.png') no-repeat;
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.sol_yl{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-solyl-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sol_yl{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-solyl-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.jy{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-jy-b.png') no-repeat
}
.site-header.mobile-header .switch-locale .dropdown-menu>li>a {
	margin-left: 36%;
	width:130px;
}
.site-header .switch-locale .dropdown-menu>li>a div.jy{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-jy-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a img.jy{
	src: '../images/last-jy-b.png';
}

.site-header.transparent .switch-locale .dropdown-menu>li>a div.sol_jy{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-soljy-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sol_jy{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-soljy-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.o2o{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-o2o-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.o2o{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-o2o-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.sol_o2o{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-solo2o-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sol_o2o{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-solo2o-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.sjtx{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-sjtx-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sjtx{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-sjtx-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.sol_sjtx{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-solsjtx-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sol_sjtx{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-solsjtx-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.gonggao{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-gonggao-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.gonggao{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-gonggao-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.news{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-news-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.news{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-news-b.png') no-repeat
}

.qq_online{
	position:fixed;
	right:15px;
	bottom:15px;
	z-index:90;
	width:65px;
	height:65px;
	cursor:pointer;
	background:url('../images/2QQ-a-01.png');
	background-size:100%;
}
.qq_online:hover{
}
.sq_online{
	position:fixed;
	right:0px;
	top:420px;
	z-index:90;
	width:70px;
	height:70px;
	cursor:pointer;
	background:url('../images/3sq-a-01.png');
}
.sq_online:hover{
	position:fixed;
	right:0px;
	top:420px;
	z-index:90;
	width:70px;
	height:70px;
	cursor:pointer;
	background:url('../images/3sq-b-01.png');
}
.tel_online{
	position:fixed;
	right:15px;
	bottom:90px;
	z-index:105;
	width:70px;
	height:70px;
	cursor:pointer;
	background:url('../images/contact-number.png');
	background-size: 100%;
}
.tel_online:hover{
}

.tel_detail{
	position:fixed;
	right:0px;
	bottom:150px;
	z-index:105;
	width:320px;
	height:270px;
}
.tel_detail_kuang{
	width:320px;
	height:350px;
	background:#fff;
	border-radius:3px;
	text-align:center;
	border:1px solid #dfdfdf;
	box-shadow:0 1px 23px rgba(0,0,0,.16);
	-webkit-box-shadow:0 1px 23px rgba(0,0,0,.16);
	-moz-box-shadow:0 1px 23px rgba(0,0,0,.16);
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.audio{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-audio-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.audio{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-audio-b.png') no-repeat
}

.site-header .switch-locale .dropdown-menu>li>a div.sdk-android{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/android-sdk.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sdk-ios{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/ios-sdk.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sdk-windows{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/windows-sdk.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.sdk_downlad{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-sdk_downlad-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.sdk_downlad{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-sdk_downlad-b.png') no-repeat
}

.site-header.transparent .switch-locale .dropdown-menu>li>a div.experience{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-experience-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.experience{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-experience-b.png') no-repeat
}

.site-header.transparent .switch-locale .dropdown-menu>li>a div.plan{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-plan-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.plan{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-plan-b.png') no-repeat
}

.site-header.transparent .switch-locale .dropdown-menu>li>a div.video{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-video-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.video{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-video-b.png') no-repeat
}

.site-header.transparent .switch-locale .dropdown-menu>li>a div.im{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-im-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.im{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-im-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.live{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-live-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.live{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-live-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.conference{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-con-b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.conference{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/last-con-b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.communication_tools{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_communication_tools_b.png') no-repeat
}

.site-header .switch-locale .dropdown-menu>li>a div.communication_tools{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_communication_tools_b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.header-show-img{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/private-cloud-mobile.png') no-repeat
}
.site-header .navbar-button>li .dropdown-menu .mobile-show{
	display: none;
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.newsletters{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_newsletters_b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.newsletters{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_newsletters_b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.video_service{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_video_service_b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.video_service{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_video_service_b.png') no-repeat
}
.site-header.transparent .switch-locale .dropdown-menu>li>a div.intelligent_intercom{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_intelligent_intercom_b.png') no-repeat
}
.site-header .switch-locale .dropdown-menu>li>a div.intelligent_intercom{
	width: 20px;
	height: 20px;
	margin-right:5px;
	margin-top:0px;
	overflow: hidden;
	background:top left url('../images/header_icon_intelligent_intercom_b.png') no-repeat
}


@media (max-width:480px){
	.tel_detail{
		position:fixed;
		right:0px;
		top:33%;
		z-index:105;
		width:320px;
		height:270px;
	}
	.qq_online{
		position:fixed;
		display:none;
	}
	.sq_online{
		position:fixed;
		display:none;
	}
	.tel_online{
		position:fixed;
		right:15px;
		bottom:90px;
		z-index:105;
		width:70px;
		height:70px;
		cursor:pointer;
		background:url('../images/contact-number.png');background-size: 100%;
	}
	.tel_detail{
		position:fixed;
		right:0px;
		right:0px;
		top:33%;
		z-index:105;
		width:320px;
		height:270px;
	}
}
@media (max-width:320px){
	.tel_detail_kuang{
		width:320px;
		height:300px;
		background:#fff;
		border-radius:3px;
		text-align:center;
		border:1px solid #dfdfdf;
		box-shadow:0 1px 23px rgba(0,0,0,.16);
		-webkit-box-shadow:0 1px 23px rgba(0,0,0,.16);
		-moz-box-shadow:0 1px 23px rgba(0,0,0,.16);margin-left:10px;
	}
	.qq_online{
		position:fixed;
		display:none;
	}
	.sq_online{
		position:fixed;
		display:none;
	}
	.tel_online{
		position:fixed;
		right:15px;
		bottom:90px;
		z-index:105;
		width:70px;
		height:70px;
		cursor:pointer;
		background:url('../images/contact-number.png');
		background-size: 100%;
	}
	.tel_online:hover{
	}
	.tel_detail{
		position:fixed;
		right:0px;
		top:33%;
		z-index:105;
		width:320px;
		height:270px;
	}
}
@media (min-width:320px){
	#cert_fang{
		background-color: #fff;
		color:#ffa625;
	}
}
@media (min-width:1366px){
	#cert_fang{
		width:16%;
		background-color: #fff;
		color:#ffa625;
	}
}
#cert_fang_img{
	position:relative;
	left:90%;
	top:-30px;
	width:60px;
	display:block;
}
@media screen and (max-width:768px){
	
}

@media (min-width:1366px){
	#cert_fang_nomal{
		width:auto
	}
}
/*帖子回复新提醒*/
.navbar-nav .header_new_remind{
	background:#2196F3;
	color:#fff;
	padding:10px;
	border-radius:5px;
	padding-top:0px;
	position:relative;
	left:-75px;
	height:40px;
	top:14px;
	display:none;
}
.navbar-nav .header_new_remind .header_new_remind_triangle{
	background:#2196F3;
	width:10px;
	height:10px;
	position:relative;
	top:-5px;
	transform:rotate(45deg);
	margin:0 auto;
}
.navbar-nav .header_new_remind .header_new_remind_text{
	display:inline-block;
	cursor:pointer;
}
.navbar-nav .header_new_remind .header_new_remind_close{
	margin-left:8px;
}
.navbar-nav .header_new_remind .header_new_remind_close img{
	width:20px;
	cursor:pointer;
}
@media screen and (max-width:768px){
	.site-header .navbar-button>li .dropdown-menu .mobile-show{
		display: block;
	}
	.main-title .know-more{
      width:50%!important;
    }
	.navbar-nav .header_new_remind{
		left:0px;
	}
}
@media screen and (max-width:480px){
	.main-title .know-more{
      width:85%!important;
    }
}
.if-need-private-main{
	background:#F2F7FF;padding:5% 30px;
}
.if-need-private-main .if-need-private{
    color:#2196F3;font-size: 0.80rem;
    background:#F2F7FF;padding:10px 30px;
 }
  
.link-us-btn{
		margin-right: 20px;
	  	border-radius:30px;
		background: linear-gradient(90deg, #15B2FF , #298CE2);
		color:#fff;
		font-size:16px;
		margin-top:18px;
		padding:12px 30px;
		border:1px solid #15B2FF;
		box-shadow: 0px 2px 15px rgba(0, 0, 0,0.2);
		min-width:150px;
		height:50px;
		letter-spacing: 2px;
		margin-right: 10px;
}
.link-us-btn:hover{
	  border-radius:30px;
	  color:#34a2f0;
	  background: transparent;
	  font-size:16px;
	  margin-top:18px;
	  padding:12px 30px;
	  border:1px solid #15B2FF;
}
.download-btn{
    letter-spacing: 0px!important;
    min-width: 80px!important;
    height:40px!important;
    padding:8px 20px!important;
    margin-right: 10px!important;
 }
.free-signup,.know-more{
		padding-left: 2px;
	    padding-right: 2px;
	    background:#fff!important;
	    box-shadow: 0px 4px 4px 1px rgba(22,86,163, 0.35);
	    text-align: center;
	    border:2px solid transparent!important;
	    border-radius: 50px!important;
	    color:#34a2f0;
	    margin-right: 10px;
}

.free-signup:hover,.know-more:hover{
	border: 2px solid  #fff!important;
  	background: transparent!important;
  	color:#fff!important;
}
.gushost{
	color:#fff!important;;
	background:transparent!important;
	box-shadow: 0px 8px 20px rgba(17, 107, 206, 0.3);
	border:2px solid #fff!important;
	border-radius: 30px!important;
}
.gushost:hover{
	border:2px solid transparent!important;
	background: #fff!important;
	color:#34a2f0!important;
}

.none{
	display: none;
}
.dis-inline{
	display:inline;
}
.c-333{
	color:#333;
}
.c-fff{
	color:#fff;
}
.margin-15{
	margin:15px;
}
.width-100{
	width:100%;
}
.border-none{
	border:none;
}
.l-h-20{
	line-height: 20px;
}
.l-h-40{
	line-height: 40px;
}
.m-all-0{
	margin:0;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-60{
	margin-top: 60px;
}
.m-t-80{
	margin-top: 80px;
}
.m-b-10{
	margin-bottom: 10px;
}
.m-b-20{
	margin-bottom: 20px;
}
.m-b-30{
	margin-bottom: 30px;
}
.m-b-50{
	margin-bottom: 50px;
}
.m-b-100{
	margin-bottom: 100px;
}
.m-l-0{
	margin-left: 0px;
}
.m-r-5{
	margin-right: 5px;
}
.m-r-10{
	margin-right: 10px;
}
.m-r--20{
	margin-right: -20px;
}
.p-t-80{
	padding-top: 80px;
}
.p-t-60{
	padding-top: 60px;
}
.p-t-30{
	padding-top: 30px;
}
.p-t-20{
	padding-top: 20px;
}
.p-t-10{
	padding-top: 10px;
}
.p-t-0{
	padding-top: 0px;
}
.p-b-15{
	padding-bottom: 15px;
}
.p-b-20{
	padding-bottom: 20px;
}
.p-b-30{
	padding-bottom: 30px;
}
.p-b-50{
	padding-bottom: 50px;
}
.p-b-80{
	padding-bottom: 80px;
}
.p-l-0{
	padding-left: 0;
}
.p-0-5{
	padding: 0 5%;
}
.p-0-8{
	padding: 0 8%;
}
.b-g-f9{
	background: #f9f9f9
}
     	

.site-header .navbar-button>li>a.login,.site-header .navbar-button>li>a.nlogin{
	border-radius: 30px;
	background: transparent;
	border:1px solid #03A9F4!important;
	color: #03A9F4!important;
	letter-spacing: 2px;
	padding:5px 20px;
}
.site-header .navbar-button>li>a.nlogin{
	letter-spacing: 0;
	padding:5px 10px;
}

.site-header .navbar-button>li>a.login:hover{
	border-radius: 30px;
	background: #03A9F4!important;
	border:1px solid #03A9F4!important;
	color: #fff!important;
}
.site-header .navbar-button>li>a.signup{
  	border-radius:30px;
	background: linear-gradient(90deg, #15B2FF , #298CE2);
	color:#fff!important;
	font-size:14px;
	padding:5px 20px;
	border:1px solid #15B2FF!important;
	box-shadow: 0px 2px 15px rgba(0, 0, 0,0.2);
	letter-spacing: 2px;
	margin-right: 10px;
}
.site-header .navbar-button>li>a.signup:hover{
	 color:#34a2f0!important;
	 background: transparent!important;
}
.site-header .switch-locale  .private-hot{
	position:absolute;left:46px;top:-2px;
}
.site-header .navbar-button>li .docs-header{
  width:320px!important;
}
.site-header .navbar-button>li .docs-header>li{
  width:155px!important;
}
.site-header .navbar-brand{
	position: absolute;
	top: 0;
	left: 0;
}
@media screen and (max-width:768px){
	
	.site-header .switch-locale  .private-hot{
		left:45%;
	}	
	.site-header .navbar-button>li .docs-header>li{
          margin:0;
        }
        .site-header.mobile-header .switch-locale .docs-header>li>a{
          width:155px;
        }
	.site-header .navbar-brand{
		position: relative;
	}
	.site-header .navbar-button>li>a.nlogin{
		color: #03A9F4 !important;
		border:1px solid #03A9F4 !important;
		padding:5px 10px;
		letter-spacing: 0;
	}
}
.none{
	display: none;
}
.header-static-line{
	height:3px;background:#34a2f0;margin-top:8px;
	position:absolute;left:20%;right:20%;
}
.site-header .switch-locale  .private-cloud-text,.site-header .navbar-nav>li>.private-cloud-text{
	color:#34a2f0;
}
